[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
jinja2 = "*"
databases = {extras = ["asyncpg"], version = "*"}
itsdangerous = "*"
python-multipart = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
