html,
body {
  height: 100%;
}

html {
  color: var(--oc-gray-8);
  font-family: system-ui, sans-serif;
  scrollbar-gutter: stable;
}

p {
  max-width: 56ch;
}

/* --- */

.alert {
  align-items: start;
  background-color: var(--oc-yellow-0);
  border-radius: 0.5rem;
  border: 1px solid currentColor;
  color: var(--oc-yellow-8);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1.5rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: min(calc(100% - 1.5rem), 45ch);
  z-index: 10;
}

.alert.positive {
  color: var(--oc-green-8);
  background-color: var(--oc-green-0);
}

/* --- */

.menu-item {
  align-items: center;
  display: inline-flex;
  height: 2rem;
}

.menu-item:not(.active):is(a, button):is(:focus, :hover) {
  color: var(--oc-gray-6);
}

.menu-item.active {
  color: var(--oc-indigo-8);
}

/* --- */

.layout {
  display: grid;
  grid-template-rows: 9rem auto 9rem;
  height: 100%;
  margin-inline: auto;
  width: min(calc(100% - 1.5rem), 1024px);
}

/* --- */

.topbar {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  overflow-x: auto;
}

/* --- */

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* --- */

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
}

/* --- */

.brand:only-child {
  margin-inline: auto;
}

.brand svg {
  display: block;
  height: 1.25rem;
}

.brand a {
}

.brand a:is(:focus, :hover) {
  color: var(--oc-gray-6);
}

/* --- */

.flex {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

/* --- */

.stack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* --- */

.menu.inline {
  display: flex;
  gap: 1.5rem;
}

/* --- */

.hero {
  align-items: center;
  background: var(--oc-gray-0) linear-gradient(var(--oc-gray-0), white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 6rem;
  text-align: center;
}

.hero header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero :is(nav, form) {
  display: flex;
  gap: 1.5rem;
}

.hero figure {
  color: var(--oc-gray-6);
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1;
}

.hero h1 {
  color: var(--oc-gray-6);
  font-size: 1.5rem;
  line-height: 1.25;
}

/* --- */

.columns {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
  .columns {
    grid-auto-flow: column;
  }
}

/* --- */

.table {
  width: 100%;
}

.table :is(td, th) {
  height: 2.5rem;
  padding-inline: 0.75rem;
  vertical-align: middle;
}

.table th {
  font-weight: bolder;
}

.table thead th {
  border-bottom: 1px solid var(--oc-gray-2);
}

.table tbody tr:nth-child(even) {
  background-color: var(--oc-gray-0);
}

.table tbody tr:nth-child(even) :is(td, th):first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.table tbody tr:nth-child(even) :is(td, th):last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* --- */

.field {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.field:not(.inline) {
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-weight: bolder;
}

/* --- */

.input,
.button {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-flex;
  height: 2rem;
  line-height: 1.25;
}

:is(.input, .button).pill {
  border-radius: 2rem;
}

.input {
  background-color: white;
  border: 1px solid var(--oc-gray-4);
  padding-inline: 0.5rem;
}

.input:invalid {
  border-color: var(--oc-red-8);
}

.button {
  padding-bottom: 0.125rem; /* Fix text alignment. */
  padding-inline: 1.5rem;
}

.button.primary {
  background-color: var(--oc-indigo-8);
  color: white;
}

.button.primary:is(:focus, :hover) {
  background-color: var(--oc-indigo-6);
}

.button.secondary {
  background-color: white;
  border: 1px solid;
}

.button.secondary:is(:focus, :hover) {
  background-color: var(--oc-gray-0);
}

/* --- */

.radio {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--oc-gray-4);
  background-color: white;
  vertical-align: middle;
}

.radio:is(:focus, :hover) {
  background-color: var(--oc-gray-0);
}

.radio:checked {
  background-image: radial-gradient(
    circle at center,
    var(--oc-indigo-8),
    var(--oc-indigo-8) 0.25rem,
    white 0.25rem
  );
  background-repeat: no-repeat;
}

/* --- */

.heading {
  font-weight: bolder;
  line-height: 1.25;
}

.heading.one {
  font-size: 2rem;
}

.heading.two {
  font-size: 1.5rem;
}

/* --- */

.text.positive {
  color: var(--oc-green-8);
}

.text.negative {
  color: var(--oc-red-8);
}

.text.grayed {
  color: var(--oc-gray-6);
}

.text.underlined {
  text-decoration: underline;
}

.text.linked {
  /* background: linear-gradient(
    0,
    var(--oc-yellow-0) 0.5rem,
    transparent 0.25rem
  ); */
  text-decoration: underline 1px;
}

.text.linked:focus,
.text.linked:hover {
  color: var(--oc-gray-6);
}

.text.striked {
  text-decoration: line-through;
}

/* --- */

#debug {
  background-color: var(--oc-green-8);
  color: var(--oc-yellow-0);
  padding: 0.75rem;
  position: absolute;
  width: 100%;
}

#debug:not(:target) {
  display: none;
}
