html,
body {
  height: 100%;
}

html {
  font-family: Lato, system-ui, sans-serif;
  scrollbar-gutter: stable;
}

p {
  max-width: 56ch;
}

/* --- */

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}

.alert {
  align-items: start;
  animation: slide-in 0.25s ease-in-out forwards 0.125s;
  background-color: ivory;
  border-radius: 0.5rem;
  border: 1px solid currentColor;
  color: #660;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 1.5rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: min(calc(100% - 1.5rem), 45ch);
  z-index: 10;
  opacity: 0;
}

.alert.positive {
  color: darkgreen;
  background-color: mintcream;
}

/* --- */

.menu-item {
  align-items: center;
  display: inline-flex;
  height: 2rem;
}

.menu-item:not(.active):is(a, button):is(:focus, :hover) {
  color: dimgray;
}

.menu-item.active {
  color: royalblue;
}

/* --- */

.layout {
  display: grid;
  grid-template-rows: 9rem auto 9rem;
  height: 100%;
  margin-inline: auto;
  width: min(calc(100% - 1.5rem), 1024px);
}

/* --- */

.topbar {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  overflow-x: auto;
}

/* --- */

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* --- */

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
}

/* --- */

.brand:only-child {
  margin-inline: auto;
}

.brand svg {
  display: block;
  height: 1.25rem;
}

.brand a:is(:focus, :hover) {
  color: dimgray;
}

/* --- */

.flex {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

/* --- */

.stack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* --- */

.menu.inline {
  display: flex;
  gap: 1.5rem;
}

/* --- */

.hero {
  background: whitesmoke linear-gradient(whitesmoke, white);
  border-radius: 1rem;
  color: dimgray;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  padding-block: 6rem;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 900;
}

.hero p {
  font-size: 1.5rem;
  line-height: 1.25;
}

/* --- */

.columns {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
  .columns {
    grid-auto-flow: column;
  }
}

/* --- */

.table {
  width: 100%;
}

.table :is(td, th) {
  height: 2.5rem;
  padding-inline: 0.75rem;
  vertical-align: middle;
}

.table th {
  font-weight: bolder;
}

.table thead th {
  border-bottom: 1px solid dimgray;
}

.table tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

.table tbody tr:nth-child(even) :is(td, th):first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.table tbody tr:nth-child(even) :is(td, th):last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

/* --- */

.field {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.field:not(.inline) {
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-weight: bolder;
}

/* --- */

.input,
.button {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-flex;
  height: 2rem;
  line-height: 1.25;
}

:is(.input, .button).pill {
  border-radius: 2rem;
}

.input {
  background-color: white;
  border: 1px solid dimgray;
  padding-inline: 0.5rem;
}

.input:invalid {
  border-color: darkred;
}

.button {
  padding-bottom: 0.125rem; /* Fix text alignment. */
  padding-inline: 1.5rem;
}

.button.primary {
  background-color: royalblue;
  color: white;
}

.button.primary:is(:focus, :hover) {
  background-color: cornflowerblue;
}

.button.secondary {
  background-color: white;
  border: 1px solid;
}

.button.secondary:is(:focus, :hover) {
  background-color: whitesmoke;
}

/* --- */

.radio {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: 1px solid;
  background-color: white;
  vertical-align: middle;
}

.radio:is(:focus, :hover) {
  background-color: whitesmoke;
}

.radio:checked {
  background-image: radial-gradient(
    circle at center,
    royalblue,
    royalblue 0.25rem,
    white 0.25rem
  );
  background-repeat: no-repeat;
}

/* --- */

.heading {
  font-weight: bolder;
  line-height: 1.25;
}

.heading.one {
  font-size: 2rem;
}

.heading.two {
  font-size: 1.5rem;
}

/* --- */

.text.positive {
  color: darkgreen;
}

.text.negative {
  color: darkred;
}

.text.grayed {
  color: dimgray;
}

.text.underlined {
  text-decoration: underline;
}

.text.striked {
  text-decoration: line-through;
}

/* --- */

#debug {
  background-color: darkgreen;
  color: ivory;
  padding: 0.75rem;
  position: absolute;
  width: 100%;
}

#debug:not(:target) {
  display: none;
}
