@namespace svg "http://www.w3.org/2000/svg";

:not(svg|*) {
  all: unset;
  display: revert;
}

*,
:before,
:after {
  box-sizing: border-box;
}

:before,
:after {
  font: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
}

input[type="number"] {
  appearance: textfield;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  all: unset;
}

::-webkit-color-swatch-wrapper {
  all: unset;
}

::-webkit-color-swatch {
  all: unset;
}

::-moz-color-swatch {
  all: unset;
}

::-webkit-file-upload-button {
  all: unset;
  display: none;
}

input[type="file"] {
  line-height: 2;
}

::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  all: unset;
}

::-webkit-slider-thumb {
  all: unset;
}

::-webkit-slider-runnable-track {
  all: unset;
}

::-moz-range-thumb {
  all: unset;
}

::-moz-range-track {
  all: unset;
}

::-moz-range-progress {
  all: unset;
}

::-webkit-datetime-edit-fields-wrapper {
  all: unset;
}

::-webkit-calendar-picker-indicator {
  all: unset;
}

[list]::-webkit-calendar-picker-indicator {
  list-style: none !important;
}

::-webkit-progress-bar {
  all: unset;
}

::-webkit-progress-value {
  all: unset;
}

::-moz-progress-bar {
  all: unset;
}

pre,
textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input,
select,
textarea {
  vertical-align: bottom;
}

textarea {
  resize: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  text-size-adjust: 100%;
  font: 16px/1.5 system-ui, sans-serif;
}

pre {
  overflow: auto;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
}

small {
  font-size: 0.75em;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  cursor: pointer;
}

svg:not([fill]) {
  fill: currentColor;
}

code,
kbd,
samp,
pre {
  font-family: monospace;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

li {
  list-style: none;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

table {
  table-layout: fixed;
  text-indent: 0;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:-moz-focusring {
  outline: 1px dotted;
}

:focus {
  outline: 1px dotted;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[hidden] {
  display: none;
}

/* --- */

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

/* --- */

.alert {
  align-items: start;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid currentColor;
  display: flex;
  margin: 1.5rem auto 0;
  padding: 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: min(calc(100% - 1.5rem), 45ch);
  z-index: 10;
}

.alert.neutral {
  color: olive;
  background-color: ivory;
}

.alert.positive {
  color: darkgreen;
  background-color: azure;
}

.alert button {
  padding: 0.25rem;
  line-height: 1;
}

/* --- */

.layout {
  display: grid;
  grid-auto-rows: min-content;
  height: 100%;
  margin-inline: auto;
  width: min(calc(100% - 1.5rem), 1024px);
}

/* --- */

.topbar {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 3rem;
  height: 9rem;
  justify-content: space-between;
}

.topbar h1 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.25;
}

.topbar ul {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  max-width: 100%;
  overflow-x: auto;
}

.topbar ul a {
}

.topbar .active {
  color: royalblue;
}

/* --- */

.footer {
  height: 6rem;
  padding-block: 1.5rem;
  position: sticky;
  text-align: center;
  top: 100%;
}

/* --- */

.content {
  display: grid;
  gap: 1.5rem;
}

/* --- */

.menu li {
  display: block;
}

.menu .active {
  color: royalblue;
}

.menu a {
  align-items: center;
  display: flex;
  height: 2rem;
  padding-inline: 0.75rem;
}

/* --- */

.hero {
  font-size: 1.5em;
  text-align: center;
  padding: 3rem;
}

/* --- */

.columns {
  display: grid;
  grid-auto-columns: 1fr;
}

@media (min-width: 768px) {
  .columns {
    grid-auto-flow: column;
  }
}

/* --- */

.table {
  width: 100%;
}

.table :is(td, th) {
  height: 2rem;
  padding-inline: 0.75rem;
  vertical-align: middle;
}

.table thead th {
  border-bottom: 1px solid gainsboro;
  font-weight: bolder;
}

.table tbody tr:nth-child(even) :is(td, th) {
  background-color: whitesmoke;
}

/* --- */

.field,
.button {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-flex;
  height: 2rem;
  padding: 0 0.5rem;
}

.field {
  background-color: white;
  border: 1px solid dimgray;
}

.button {
  background-color: royalblue;
  color: white;
  padding: 0 0.75rem;
}
