<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Controle de Horas</title>
  <link rel="stylesheet" href="/static/style.css" />

  {% block head %}{% endblock %}
</head>

<body>
  {% with f = request.flash() %}
  {% if f.message %}
  <div role="alert {{ f.type }}" class="alert positive">
    <p>{{ f.message }}.</p>
    <button type="button" aria-label="Fechar alerta" onclick="this.parentElement.remove()">×</button>
  </div>
  {% endif %}
  {% endwith %}

  <div class="layout">
    <nav class="topbar" aria-label="Navegação principal">
      <h1>
        <a href="/">
          Controle de Horas
        </a>
      </h1>

      <ul>
        <li {% if request.url.path is eq '/' %} class="active" {% endif %}>
          <a href="{{ request.url_for('dashboard') }}">
            Enviar planilha
          </a>
        </li>
        <li {% if request.url.path is eq '/' %} class="active" {% endif %}>
          <a href="{{ request.url_for('dashboard') }}">
            Resumo
          </a>
        </li>
        <li {% if (request.url | string).startswith(request.url_for('employees')) %} class="active" {% endif %}>
          <a href="{{ request.url_for('employees') }}">
            Histórico
          </a>
        </li>
      </ul>
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <p>© 2022 Jogajunto</p>
    </footer>
  </div>
</body>

</html>