{% extends "_layout.html" %} {% block title %}Erro — {{ super() }}{% endblock %}
{% block content %}
<section class="hero">
  {% if status_code == 404 %}
  <header>
    <figure>🕳️</figure>
    <h1>Página não encontrada.</h1>
  </header>
  <nav>
    <a
      href="{{ request.headers.get('referer', request.url_for('root')) }}"
      class="button primary"
      >Voltar</a
    >
  </nav>
  {% elif status_code == 401 %}
  <header>
    <figure>🚫</figure>
    <h1>Não autorizado.</h1>
  </header>
  <nav>
    <a href="{{ request.url_for('sign_in') }}" class="button primary"
      >Tentar novamente</a
    >
  </nav>
  {% else %}
  <header>
    <figure>😬</figure>
    <h1>Tivemos um problema inesperado.</h1>
  </header>
  <nav>
    <a
      href="{{ request.headers.get('referer', request.url_for('root')) }}"
      class="button primary"
      >Tentar novamente</a
    >
    <a
      href="https://github.com/haggen/timebank/discussions"
      class="button secondary"
      target="_blank"
      >Reportar</a
    >
  </nav>
  {% endif %}
</section>
{% endblock %}
