{% extends "base.html" %} {% block content %}
<main>
  <form method="post" action="/" enctype="multipart/form-data">
    <input
      type="text"
      name="employee"
      list="employees"
      placeholder="Funcionário"
    />
    <input type="file" name="entries" />
    <button type="submit">Enviar</button>
    <datalist id="employees">
      {% for employee in employees %}
      <option value="{{ employee.name }}" />
      {% endfor %}
    </datalist>
  </form>
  <table>
    <tbody></tbody>
  </table>
</main>
{% endblock %}
