{% extends "_layout.html" %} {% block title %}Registrar — {{ super() }}{%
endblock %} {% block content %}
<entry-form>
  <form
    method="post"
    action="{{ request.url_for('history') }}"
    enctype="multipart/form-data"
    class="stack"
    style="gap: 3rem"
  >
    <label class="field">
      <strong class="heading two">Valor</strong>
      <p style="max-width: 50ch">
        Quantas horas extras você trabalhou (positivo) ou quantas horas
        pendentes você compensou (negativo). Você pode usar um valor abreviado,
        como "1h30"; por extenso, como "1 hora 30 minutos"; ou apenas o total em
        minutos, como por exemplo "90".
      </p>
      <div class="flex" style="gap: inherit" slot="add-time-button-group">
        <input
          slot="formatted-value-input"
          type="text"
          inputmode="numeric"
          class="input"
          autocomplete="off"
          autofocus
          required
        />
        <button type="button" value="60" class="button secondary">
          +1 hora
        </button>
        <button type="button" value="15" class="button secondary">
          +15 minutos
        </button>
      </div>
      <input slot="value-input" type="hidden" name="value" />
    </label>

    <div class="field">
      <p class="label">Tipo de registro:</p>
      <div class="flex" slot="flip-value-option-group">
        <label class="field inline">
          <input type="radio" name="type" class="radio" value="+" checked />
          Tempo extra trabalhado
        </label>

        <label class="field inline">
          <input type="radio" name="type" class="radio" value="-" />
          Tempo compensado
        </label>
      </div>
    </div>

    <label class="field">
      <p class="label">Data de ocorrência:</p>
      <input
        type="date"
        name="happened_on"
        class="input"
        value="{{ today.strftime('%Y-%m-%d') }}"
        required
      />
    </label>

    <footer class="form-foot">
      <button type="submit" class="button primary">Salvar</button>
    </footer>
  </form>
</entry-form>

{% endblock %}
