{% extends "_layout.html" %} {% block title %}Registrar — {{ super() }}{%
endblock %}{% block content %}
<main class="content">
  <form method="post" action="/" enctype="multipart/form-data">
    <datalist id="employees">
      {% for employee in employees %}
      <option value="{{ employee.name }}" />
      {% endfor %}
    </datalist>

    <label class="form-row">
      <span class="label">Funcionário</span>
      <input
        type="text"
        name="employee"
        list="employees"
        placeholder="Maria José"
        class="input"
        required
      />
    </label>

    <label class="form-row">
      <span class="label">Arquivo</span>
      <input
        type="file"
        name="entries"
        accept="text/csv"
        class="input"
        required
      />
    </label>

    <footer class="form-foot">
      <button type="submit" class="button">Enviar</button>
    </footer>
  </form>
</main>
{% endblock %}
