{% extends "_layout.html"%}

{% block content %}
  <main class="content">
    {% if not employees | length %}
      <div class="hero">
        <h1>🌵</h1>
        <p>Nenhum funcionário encontrado.</p>
      </div>
    {% else %}
      <div class="stack">
        <form method="get" class="toolbar">
          <input type="month" name="month" value="{{ selected_date.strftime("%Y-%m") }}" class="input pill" />
          <button type="submit" class="button pill">Atualizar</button>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th>Funcionário</th>
              <th>Expira no mês selecionado</th>
              <th>Saldo total</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
              <tr>
                <th>
                  <a href="{{ request.url_for("employee", id=entry.employee_id) }}" class="text underline">
                    {{ entry.name }}
                  </a>
                </th>
                {% if entry.expiring_balance %}
                  <td class="text {{ "negative" if entry.expiring_balance > 0 }}">
                    {{ "+" if entry.expiring_balance > 0 }}{{ entry.expiring_balance }}
                  </td>
                {% else %}
                  <td>-</td>
                {% endif %}
                {% if entry.balance %}
                  <td class="text {{ "negative" if entry.balance > 0 }}">
                    {{ "+" if entry.balance > 0 }}{{ entry.balance }}
                  </td>
                {% else %}
                  <td>-</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </main>
{% endblock %}
