{% extends "_layout.html" %} {% block title %}Visão geral — {{ super() }}{%
endblock %} {% block content %}
<div class="stack">
  <form method="get" class="flex" style="gap: 0.5rem">
    <input type="month" name="month" value="{{ period[0] | datetime("%Y-%m") }}"
    class="input pill" />
    <button type="submit" class="button primary pill">Atualizar</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Conta</th>
        <th>Vence em {{ period[0] | datetime("%m/%Y") }}</th>
        <th>Saldo total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in summary %}
      <tr>
        <td>
          <a
            href="{{ request.url_for('account', id=item.id) }}"
            class="text linked"
            >{{ item.name | displayname }}</a
          >
        </td>
        <td>{{ item.expiring_balance | entryvalue }}</td>
        <td>{{ item.balance | entryvalue }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
